.idea/
build/
.directory
docker/nextcloud/certificates/*
docker/owncloud/certificates/*
*.gz
*.db*
*.cache
vendor
.shared

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
