name: Test

on:
  pull_request:
  push:
    branches-ignore:
      - release
    tags-ignore:
      - "*"

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ["8.2", "8.3", "8.4"]
        nextcloud-version: ["stable32", "stable31", "stable30", "stable29"]
        exclude:
          - php-version: "8.4"
            nextcloud-version: "stable29"
          - php-version: "8.4"
            nextcloud-version: "stable30"
    name: Nextcloud ${{ matrix.nextcloud-version }} php${{ matrix.php-version }} unit tests
    steps:
      - name: Set up php${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ctype,curl,dom,gd,iconv,intl,json,mbstring,openssl,posix,sqlite,xml,zip,gmp
          coverage: xdebug
      - name: Checkout Nextcloud
        run: git clone https://github.com/nextcloud/server.git --recursive --depth 1 -b ${{ matrix.nextcloud-version }} nextcloud
      #      - name: Patch version check for nightly PHP
      #        if: ${{ matrix.php-version == '8.2' }}
      #        run: echo "<?php" > nextcloud/lib/versioncheck.php
      - name: Install Nextcloud
        run: php -f nextcloud/occ maintenance:install --database-name oc_autotest --database-user oc_autotest --admin-user admin --admin-pass admin --database sqlite --database-pass=''
      - name: Checkout qownnotesapi
        uses: actions/checkout@v3
        with:
          path: nextcloud/apps/qownnotesapi
      - name: Test app
        run: php -f nextcloud/occ app:enable qownnotesapi && php -f nextcloud/occ background:cron
      - name: Install dependencies
        working-directory: nextcloud/apps/qownnotesapi
        run: composer install
      - name: Run tests
        working-directory: nextcloud/apps/qownnotesapi
        run: composer test-coverage
        if: ${{ matrix.php-version == '8.3' }}
        env:
          XDEBUG_MODE: coverage
#    - name: Report coverage
#      uses: codecov/codecov-action@v3.1.0
#      if: ${{ always() && matrix.php-version == '8.0' }}
#      with:
#        file: ./nextcloud/apps/qownnotesapi/tests/clover.unit.xml
#        flags: unittests
#        fail_ci_if_error: true
